body {
    margin: 0px;
    scroll-behavior: smooth;

}

.topHead {
    /*header black section*/
    background-color: #2f2f2f;
    line-height: 13mm;
    color: white;
    text-align: right;
    margin: 0px;
}

.bhead {
    background-color: #2f2f2f;
    margin: 0;
}

.bhead span {
    padding-right:90px;
}

.bheadlogo {
    margin-top: 2.5mm;
    width: 15px;
    height: 15px;
    padding-top: 1mm;
    padding-right: 15px;
}

.c1{
    display: inline;
    align-items: center;
}
.bar{
    display: flex;
}
.cardHolder{

    display: flex;
    float: left;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align:left;
}
.card{
    width: 35%;
    margin-left:20px;
    
}
.card div{
    color: black;
}

.services{
    padding-left: 4cm;
    padding-right: 4cm;
    justify-content: center;
    align-items: center;
}
.services h1{
    text-align: center;
    color:black
}
.services h1:hover{
    color:#ffc107;
}
.contact{
    padding-left: 4cm;
    padding-right: 4cm;
    justify-content: center;
    align-items: center;
    color: black;

}
.about{
    padding-left: 4cm;
    padding-right: 4cm;
    justify-content: center;
    align-items: center;
    color: black;

}